<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.barocredit.barobaro">

    <uses-permission android:name="android.permission.ACCESS_NETWORK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".Activities.MainApplication01"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"

        >

        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
        See README(https://goo.gl/l4GJaQ) for more. - ->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <!- - Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. - ->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <!- - [START fcm_default_channel] - ->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id"/>
        <!- - [END fcm_default_channel] -->


        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
            android:value="true"/>

        <!-- 시작 액티비티를 SplashActivity로 설정, android:theme를 SplashTheme로 설정 -->
        <activity android:name=".Activities.SplashActivity" android:theme="@style/SplashTheme"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activities.InitActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustPan"
            />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        <activity android:name=".Activities.MainActivity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="appweb.barocredit.net" />
                <data android:scheme="https" android:host="appweb.barocredit.net" />
            </intent-filter>
        </activity>


        <!-- [START] XecureSmart -->
        <activity android:name="com.softforum.xecure.ui.crypto.SignCertSelectWindow"
            android:label="@string/sign_cert_select_window_title"
            android:configChanges="orientation|keyboardHidden" />

        <!-- Custom -->
        <activity android:name="com.softforum.xecure.ui.webcall.XecureSmartChangePasswordCertList"
            android:configChanges="orientation|keyboardHidden" />

        <activity android:name="com.softforum.xecure.ui.webcall.XecureSmartDeleteCertList"
            android:configChanges="orientation|keyboardHidden" />

        <!-- [END] XecureSmart -->

        <!-- [START] XecureCertShare -->
        <activity android:name="com.softforum.xecure.certshare.ExportCertWithCertShare"
            android:configChanges="orientation|keyboardHidden" />

        <activity android:name="com.softforum.xecure.certshare.SelectExportCertListWithCertShare"
            android:configChanges="orientation|keyboardHidden" />

        <activity android:name="com.softforum.xecure.ui.webcall.ExportCertPasswordWindowXK"
            android:configChanges="orientation|keyboardHidden" />

        <activity android:name="com.softforum.xecure.certshare.ImportCertWithCertShare"
            android:configChanges="orientation|keyboardHidden" />
        <!-- [END] XecureCertShare -->

        <!-- ========================== XecureSmartWithXK start ========================== -->
        <activity android:name="com.softforum.xecurekeypad.XKKeypadFullView"
            android:configChanges="orientation|keyboardHidden" />

        <activity android:name="com.softforum.xecurekeypad.XKKeypadView"
            android:theme="@android:style/Theme.Translucent"
            android:configChanges="orientation|keyboardHidden" />

        <activity android:name="com.softforum.xecure.keypad.SignCertPasswordWindowWithXK"
            android:configChanges="orientation|keyboardHidden" />

        <activity android:name="com.softforum.xecure.keypad.XecureSmartChangePasswordWithXK"
            android:configChanges="orientation|keyboardHidden" />
        <!-- ========================== XecureSmartWithXK end ========================== -->
        <service android:name="com.nprotect.security.inapp.IxSecureManagerService" android:exported="false"/>
        <activity android:name="com.nprotect.security.inapp.ui.IxScanResultActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.nprotect.security.inapp.ui.IxAlertDialogActivity"
            android:theme="@android:style/Theme.Translucent"
            android:excludeFromRecents="true" android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <service android:name="com.nprotect.engine.service.IxAutoUpdateService"/>
        <receiver android:name="com.nprotect.security.inapp.IxSecureManagerReceiver">
            <intent-filter android:priority="100000" >
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_CHANGED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" /> </intent-filter>
        </receiver>
        <activity android:name="com.nprotect.security.inapp.ui.IxSplashActivity"
            android:theme="@android:style/Theme.Translucent"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait" />

        <receiver android:name=".receiver.InstallReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_INSTALL" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <service
            android:name=".service.BarobaroFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".service.BarobaroFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>


        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>